// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
   .mobile_nav {
      .element-animation {
         opacity: 0.15;
         transform: scale(0.9);
      }
      .element-show {
         opacity: 1;
         transform: scale(1);
         transition: 1s;
      }
   }
   .menu_wrapper {
      margin-top: 100px !important;
   }
   .header_info {
      max-width: 100% !important;
   }
   .header_info_input .buttons {
      right: 2% !important;
   }
   .messengers {
      justify-content: center;
   }
}
@media (max-height: 639.98px) {
   .menu_wrapper {
      min-height: 110vh !important;
      .element-animation {
         opacity: 1 !important;
         transform: scale(1) !important;
      }
      .menu_link {
         font-size: 20px !important;
         line-height: 24px !important;
      }
   }
}
@media (min-width: 576px) and (max-width: 767.98px) {
   .mobile_nav {
      .element-animation {
         opacity: 0.15;
         transform: scale(0.9);
      }
      .element-show {
         opacity: 1;
         transform: scale(1);
         transition: 1s;
      }
   }
}

@media (min-width: 768px) and (max-width: 991.98px) {
   .mobile_nav {
      .element-animation {
         opacity: 0.15;
         transform: scale(0.9);
      }
      .element-show {
         opacity: 1;
         transform: scale(1);
         transition: 1s;
      }
   }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   .element-animation {
      opacity: 0.15;
      transform: scale(0.9);
   }
   .element-show {
      opacity: 1;
      transform: scale(1);
      transition: 1s;
   }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
   .element-animation {
      opacity: 0.15;
      transform: scale(0.9);
   }
   .element-show {
      opacity: 1;
      transform: scale(1);
      transition: 1s;
   }
}

@media (min-width: 1400px) {
   .element-animation {
      opacity: 0.15;
      transform: scale(0.9);
   }
   .element-show {
      opacity: 1;
      transform: scale(1);
      transition: 1s;
   }
}
@media (max-width: 616.98px) {
   .header_info_title {
      font-size: 26px !important;
   }
   .header_info_text {
      font-size: 14px !important;
      line-height: 22px !important;
   }
}
@media (max-width: 439.98px) {
   .header_info_input .buttons {
      right: 0% !important;
      width: 100%;
      top: 115% !important;
      height: 55px !important;
      button {
         width: 100%;
         height: 100%;
      }
   }
}
@media (max-width: 876.98px) {
   .desktop_nav {
      display: none !important;
   }
   .body_hide {
      display: none !important;
   }
}

@media (min-width: 877px) {
   .mobile_nav,
   .burger,
   .menu_wrapper {
      display: none !important;
   }
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
    .title{
        font-size: 35px !important;
    }
   .animation_mobile_none {
      .element-animation {
         opacity: 1 !important;
         transform: scale(1) !important;
      }
   }
   .programs {
      opacity: 1 !important;
      //   justify-content: space-between !important;
      gap: 50px;
      main {
         text-align: center;
         .buttons {
            margin: auto;
         }
      }
   }
   .tools_item {
      &:hover {
         transform: translateY(-5px) !important;
      }
   }
   .partners {
      width: 95% !important;
      padding: 85px 30px !important;
      margin-bottom: 55px !important;
      ul {
         gap: 45px !important;
      }
   }
}

@media (min-width: 576px) and (max-width: 767.98px) {
   .animation_mobile_none {
      .element-animation {
         opacity: 1 !important;
         transform: scale(1) !important;
      }
   }
   .programs {
      opacity: 1 !important;
      //   justify-content: space-between !important;
      gap: 50px;
      main {
         text-align: center;
         .buttons {
            margin: auto;
         }
      }
   }
   .tools_item {
      &:hover {
         transform: translateY(-5px) !important;
      }
   }
   .partners {
      width: 95% !important;
      padding: 85px 20px !important;
      margin-bottom: 55px !important;

      ul {
         gap: 45px !important;
      }
   }
}
@media (max-width: 609.98px) {
   .programs {
      .tools_wrapper {
         justify-content: center !important;
         .tools_item {
            width: 315px !important;
            min-width: 315px !important;
            max-width: 315px !important;
         }
      }
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
   .programs {
      opacity: 1 !important;
      //   justify-content: space-between !important;
      gap: 50px;
      main {
         text-align: center;
         .buttons {
            margin: auto;
         }
      }
   }
   .tools_item {
      &:hover {
         transform: translateY(-5px) !important;
      }
   }
   .partners {
      width: 95% !important;
   }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   .partners {
      width: 95% !important;
   }
   .programs {
      opacity: 1 !important;
      //   justify-content: space-between !important;
      gap: 50px;
      main {
         text-align: center;
         .buttons {
            margin: auto;
         }
      }
   }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
   .partners {
      width: 95% !important;
   }
   .programs {
      justify-content: space-between !important;
   }
}

@media (min-width: 1400px) {
   .programs {
      justify-content: space-between !important;
   }
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}
