// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
   .mobile_nav {
      .element-animation {
         opacity: 0.15;
         transform: scale(0.9);
      }
      .element-show {
         opacity: 1;
         transform: scale(1);
         transition: 1s;
      }
   }
   .menu_wrapper {
      margin-top: 100px !important;
   }
   .header_info {
      max-width: 100% !important;
   }
   .header_info_input .buttons {
      right: 2% !important;
   }
   .messengers {
      justify-content: center;
   }
   .slider {
      margin-top: 120px !important;
   }
   .slider_item {
      margin: auto 10px !important;
      max-width: 850px;
      position: inherit !important;
      display: flex;
      flex-direction: column;
      img {
         display: none;
         position: inherit !important;
      }
      p {
         position: inherit !important;
         max-width: 400px !important;
         line-height: 25px !important;
         padding: 0 10px;
         text-align: justify;
         margin: 50px auto 0;
      }
   }
   .a_container {
      position: inherit !important;
      a {
         text-align: center !important;
      }
   }
   .mobile_hidden {
      display: none !important;
   }
   .mobile_hidden {
      display: inline-block !important;
   }
   .subscribe {
      .buttons {
         margin-top: 5px;
      }
   }
   .first_col {
      margin-right: 0 !important;
      max-width: 200px !important;
   }
   .footer_container {
      padding: 0 5%;
      display: flex;
      gap: 50px !important;
      justify-content: center !important;
      //   ul{
      //     margin: auto !important;
      //     min-width: 240px !important;
      //   }
   }
}
@media (max-height: 639.98px) {
   .menu_wrapper {
      min-height: 110vh !important;
      .element-animation {
         opacity: 1 !important;
         transform: scale(1) !important;
      }
      .menu_link {
         font-size: 20px !important;
         line-height: 24px !important;
      }
   }
}
@media (min-width: 576px) and (max-width: 767.98px) {
   .first_col {
      margin-right: 0 !important;
      max-width: 200px !important;
   }
   .footer_container {
      padding: 0 5%;
      display: flex;
      gap: 5px;

      //   ul{
      //     margin: auto !important;
      //     min-width: 240px !important;
      //   }
   }

   .mobile_nav {
      .element-animation {
         opacity: 0.15;
         transform: scale(0.9);
      }
      .element-show {
         opacity: 1;
         transform: scale(1);
         transition: 1s;
      }
   }
   .slider_item {
      margin: auto;
      margin-left: 15px !important;
      max-width: 850px;

      img {
         max-height: 492px;
         margin-left: 20px !important;
      }
      p {
         right: 20% !important;
         top: 160px !important;
         max-width: 400px !important;
         line-height: 25px !important;
      }
   }
   .a_container {
      bottom: 30px;
      left: 130px !important;
   }
}

@media (min-width: 768px) and (max-width: 991.98px) {
   .mobile_nav {
      .element-animation {
         opacity: 0.15;
         transform: scale(0.9);
      }
      .element-show {
         opacity: 1;
         transform: scale(1);
         transition: 1s;
      }
   }
   .slider_item {
      margin: auto;
      margin-left: 190px;
      max-width: 850px;

      img {
         max-height: 492px;
         margin-left: 20px;
      }
      p {
         right: 130px !important;
         top: 160px !important;
         max-width: 500px !important;
      }
   }
   .a_container {
      bottom: 30px;
      left: 130px !important;
   }
   .slick-prev {
      left: 50px !important;
   }
   .slick-next {
      right: 50px !important;
   }
}
@media (max-width: 902.98px) {
   footer {
      ul {
         min-width: 197px;
      }
   }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
   .element-animation {
      opacity: 0.15;
      transform: scale(0.9);
   }
   .element-show {
      opacity: 1;
      transform: scale(1);
      transition: 1s;
   }
   .slider_item {
      margin: auto;
      margin-left: 190px;
      max-width: 850px;

      img {
         max-height: 492px;
         margin-left: 105px;
      }
      p {
         right: 210px !important;
         top: 160px !important;
         max-width: 576px !important;
      }
   }
   .a_container {
      bottom: 30px;
      left: 250px;
   }
   .slick-prev {
      left: 0 !important;
   }
   .slick-next {
      right: 0 !important;
   }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
   .element-animation {
      opacity: 0.15;
      transform: scale(0.9);
   }
   .element-show {
      opacity: 1;
      transform: scale(1);
      transition: 1s;
   }

   .slick-prev {
      left: 0 !important;
   }
   .slick-next {
      right: 0 !important;
   }
}

@media (min-width: 1400px) {
   .element-animation {
      opacity: 0.15;
      transform: scale(0.9);
   }
   .element-show {
      opacity: 1;
      transform: scale(1);
      transition: 1s;
   }
   .footer_container {
      padding: 0 !important;
   }
   .first_col {
      margin-right: 176px !important;
   }
}
@media (max-width: 616.98px) {
   .header_info_title {
      font-size: 26px !important;
   }
   .header_info_text {
      font-size: 14px !important;
      line-height: 22px !important;
   }
}
@media (max-width: 439.98px) {
   .header_info_input .buttons {
      right: 0% !important;
      width: 100%;
      top: 115% !important;
      height: 55px !important;
      button {
         width: 100%;
         height: 100%;
      }
   }
}
@media (max-width: 876.98px) {
   .desktop_nav {
      display: none !important;
   }
   .body_hide {
      display: none !important;
   }
}

@media (min-width: 877px) {
   .mobile_nav,
   .burger,
   .menu_wrapper {
      display: none !important;
   }
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
   .title {
      font-size: 35px !important;
   }
   .animation_mobile_none {
      .element-animation {
         opacity: 1 !important;
         transform: scale(1) !important;
      }
   }
   .programs {
      opacity: 1 !important;
      //   justify-content: space-between !important;
      gap: 50px;
      main {
         text-align: center;
         .buttons {
            margin: auto;
         }
      }
   }
   .tools_item {
      &:hover {
         transform: translateY(-5px) !important;
      }
   }
   .partners {
      width: 95% !important;
      padding: 85px 30px !important;
      margin-bottom: 55px !important;
      ul {
         gap: 45px !important;
      }
   }
}

@media (min-width: 576px) and (max-width: 767.98px) {
   .animation_mobile_none {
      .element-animation {
         opacity: 1 !important;
         transform: scale(1) !important;
      }
   }
   .programs {
      opacity: 1 !important;
      //   justify-content: space-between !important;
      gap: 50px;
      main {
         text-align: center;
         .buttons {
            margin: auto;
         }
      }
   }
   .tools_item {
      &:hover {
         transform: translateY(-5px) !important;
      }
   }
   .partners {
      width: 95% !important;
      padding: 85px 20px !important;
      margin-bottom: 55px !important;

      ul {
         gap: 45px !important;
      }
   }
}
@media (max-width: 609.98px) {
   .programs {
      .tools_wrapper {
         justify-content: center !important;
         .tools_item {
            width: 315px !important;
            min-width: 315px !important;
            max-width: 315px !important;
         }
      }
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
   .programs {
      opacity: 1 !important;
      //   justify-content: space-between !important;
      gap: 50px;
      main {
         text-align: center;
         .buttons {
            margin: auto;
         }
      }
   }
   .tools_item {
      &:hover {
         transform: translateY(-5px) !important;
      }
   }
   .partners {
      width: 95% !important;
   }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   .partners {
      width: 95% !important;
   }
   .programs {
      opacity: 1 !important;
      //   justify-content: space-between !important;
      gap: 50px;
      main {
         text-align: center;
         .buttons {
            margin: auto;
         }
      }
   }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
   .partners {
      width: 95% !important;
   }
   .programs {
      justify-content: space-between !important;
   }
}

@media (min-width: 1400px) {
   .programs {
      justify-content: space-between !important;
   }
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}

// Intro

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}
