@media (min-width: 320px) and (max-width: 575.98px) {
  .mobile_nav .element-animation {
    opacity: 0.15;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .mobile_nav .element-show {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .menu_wrapper {
    margin-top: 100px !important;
  }
  .header_info {
    max-width: 100% !important;
  }
  .header_info_input .buttons {
    right: 2% !important;
  }
  .messengers {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider {
    margin-top: 120px !important;
  }
  .slider_item {
    margin: auto 10px !important;
    max-width: 850px;
    position: inherit !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider_item img {
    display: none;
    position: inherit !important;
  }
  .slider_item p {
    position: inherit !important;
    max-width: 400px !important;
    line-height: 25px !important;
    padding: 0 10px;
    text-align: justify;
    margin: 50px auto 0;
  }
  .a_container {
    position: inherit !important;
  }
  .a_container a {
    text-align: center !important;
  }
  .mobile_hidden {
    display: none !important;
  }
  .mobile_hidden {
    display: inline-block !important;
  }
  .subscribe .buttons {
    margin-top: 5px;
  }
  .first_col {
    margin-right: 0 !important;
    max-width: 200px !important;
  }
  .footer_container {
    padding: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}
@media (max-height: 639.98px) {
  .menu_wrapper {
    min-height: 110vh !important;
  }
  .menu_wrapper .element-animation {
    opacity: 1 !important;
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
  }
  .menu_wrapper .menu_link {
    font-size: 20px !important;
    line-height: 24px !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .first_col {
    margin-right: 0 !important;
    max-width: 200px !important;
  }
  .footer_container {
    padding: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
  }
  .mobile_nav .element-animation {
    opacity: 0.15;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .mobile_nav .element-show {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .slider_item {
    margin: auto;
    margin-left: 15px !important;
    max-width: 850px;
  }
  .slider_item img {
    max-height: 492px;
    margin-left: 20px !important;
  }
  .slider_item p {
    right: 20% !important;
    top: 160px !important;
    max-width: 400px !important;
    line-height: 25px !important;
  }
  .a_container {
    bottom: 30px;
    left: 130px !important;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .mobile_nav .element-animation {
    opacity: 0.15;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .mobile_nav .element-show {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .slider_item {
    margin: auto;
    margin-left: 190px;
    max-width: 850px;
  }
  .slider_item img {
    max-height: 492px;
    margin-left: 20px;
  }
  .slider_item p {
    right: 130px !important;
    top: 160px !important;
    max-width: 500px !important;
  }
  .a_container {
    bottom: 30px;
    left: 130px !important;
  }
  .slick-prev {
    left: 50px !important;
  }
  .slick-next {
    right: 50px !important;
  }
}
@media (max-width: 902.98px) {
  footer ul {
    min-width: 197px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .element-animation {
    opacity: 0.15;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .element-show {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .slider_item {
    margin: auto;
    margin-left: 190px;
    max-width: 850px;
  }
  .slider_item img {
    max-height: 492px;
    margin-left: 105px;
  }
  .slider_item p {
    right: 210px !important;
    top: 160px !important;
    max-width: 576px !important;
  }
  .a_container {
    bottom: 30px;
    left: 250px;
  }
  .slick-prev {
    left: 0 !important;
  }
  .slick-next {
    right: 0 !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .element-animation {
    opacity: 0.15;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .element-show {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .slick-prev {
    left: 0 !important;
  }
  .slick-next {
    right: 0 !important;
  }
}
@media (min-width: 1400px) {
  .element-animation {
    opacity: 0.15;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .element-show {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .footer_container {
    padding: 0 !important;
  }
  .first_col {
    margin-right: 176px !important;
  }
}
@media (max-width: 616.98px) {
  .header_info_title {
    font-size: 26px !important;
  }
  .header_info_text {
    font-size: 14px !important;
    line-height: 22px !important;
  }
}
@media (max-width: 439.98px) {
  .header_info_input .buttons {
    right: 0% !important;
    width: 100%;
    top: 115% !important;
    height: 55px !important;
  }
  .header_info_input .buttons button {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 876.98px) {
  .desktop_nav {
    display: none !important;
  }
  .body_hide {
    display: none !important;
  }
}
@media (min-width: 877px) {
  .mobile_nav,
.burger,
.menu_wrapper {
    display: none !important;
  }
}
@media (min-width: 320px) and (max-width: 575.98px) {
  .title {
    font-size: 35px !important;
  }
  .animation_mobile_none .element-animation {
    opacity: 1 !important;
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
  }
  .programs {
    opacity: 1 !important;
    gap: 50px;
  }
  .programs main {
    text-align: center;
  }
  .programs main .buttons {
    margin: auto;
  }
  .tools_item:hover {
    -webkit-transform: translateY(-5px) !important;
            transform: translateY(-5px) !important;
  }
  .partners {
    width: 95% !important;
    padding: 85px 30px !important;
    margin-bottom: 55px !important;
  }
  .partners ul {
    gap: 45px !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .animation_mobile_none .element-animation {
    opacity: 1 !important;
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
  }
  .programs {
    opacity: 1 !important;
    gap: 50px;
  }
  .programs main {
    text-align: center;
  }
  .programs main .buttons {
    margin: auto;
  }
  .tools_item:hover {
    -webkit-transform: translateY(-5px) !important;
            transform: translateY(-5px) !important;
  }
  .partners {
    width: 95% !important;
    padding: 85px 20px !important;
    margin-bottom: 55px !important;
  }
  .partners ul {
    gap: 45px !important;
  }
}
@media (max-width: 609.98px) {
  .programs .tools_wrapper {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .programs .tools_wrapper .tools_item {
    width: 315px !important;
    min-width: 315px !important;
    max-width: 315px !important;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .programs {
    opacity: 1 !important;
    gap: 50px;
  }
  .programs main {
    text-align: center;
  }
  .programs main .buttons {
    margin: auto;
  }
  .tools_item:hover {
    -webkit-transform: translateY(-5px) !important;
            transform: translateY(-5px) !important;
  }
  .partners {
    width: 95% !important;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .partners {
    width: 95% !important;
  }
  .programs {
    opacity: 1 !important;
    gap: 50px;
  }
  .programs main {
    text-align: center;
  }
  .programs main .buttons {
    margin: auto;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .partners {
    width: 95% !important;
  }
  .programs {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
}
@media (min-width: 1400px) {
  .programs {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #1e252b;
  padding: 31px 0 98px 0;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 1224px;
  margin: auto;
  padding: 0 15px;
}

.mobile_nav {
  position: relative;
}

.nav_100 {
  z-index: 200;
}
.nav_100 .burger {
  padding-top: 18px;
}
.nav_100 .burger span:nth-child(1) {
  position: absolute;
  opacity: 0;
}
.nav_100 .burger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: -12px;
  height: 4px;
}
.nav_100 .burger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  height: 4px;
}

.burger {
  min-height: 42px;
  background: #37434e;
  padding: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  cursor: pointer;
}
.burger span {
  cursor: pointer;
  width: 25px;
  height: 2px;
  border-radius: 25px;
  background: #fff;
}
.burger span:nth-child(2) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.burger span:nth-child(3) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.right_0 {
  display: block !important;
  right: 0 !important;
}

header {
  position: relative;
}
header .buttons {
  min-width: 118px;
}
header .buttons button {
  min-width: 118px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 15px;
}
header .buttons .sign_in {
  padding: 12px 15px;
}

.menu_wrapper {
  display: none;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 80vh;
  position: absolute;
  top: 0;
  right: -100%;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  z-index: 122;
}
.menu_wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  width: 100%;
}
.menu_wrapper form button {
  width: 100%;
}
.menu_wrapper form .login {
  background: #4049ff;
}
.menu_wrapper form .login:hover {
  background: #363cac;
}
.menu_wrapper .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20%;
  margin-bottom: 50px;
}
.menu_wrapper .links a {
  font-size: 28px;
  line-height: 40px;
  cursor: pointer !important;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 100%;
  max-width: 140px;
  height: 38px;
}
.logo img {
  width: 100%;
  height: 100%;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.links a {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.links a:hover {
  color: rgba(255, 255, 255, 0.35);
}
.links a:visited {
  color: rgba(255, 255, 255, 0.55);
}
.links a svg {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.list_link {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.list_link svg {
  cursor: pointer;
}
.list_link path {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.list_link:hover path {
  stroke: #999d9f;
}
.list_link .list {
  position: absolute;
  top: 135%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}
.list_link .list * {
  cursor: pointer;
}
.list_link .list li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.35);
}
.list_link .list li:hover {
  background: #5d5d5d;
  color: rgba(255, 255, 255, 0.55);
}

.active_list {
  overflow: visible !important;
}
.active_list:hover {
  color: rgba(255, 255, 255, 0.55) !important;
}
.active_list:hover path {
  stroke: white !important;
}
.active_list svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.buttons button {
  border-radius: 8px;
  padding: 12px 0;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  line-height: 24px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  border: none;
}
.buttons .login {
  color: rgba(255, 255, 255, 0.78);
  background: #1e252b;
}
.buttons .login:hover {
  color: rgba(255, 255, 255, 0.58);
}
.buttons .sign_in {
  background: #ff6e30;
  color: #fdf5ff;
}
.buttons .sign_in:hover {
  background: #b04314;
}

.header_info {
  width: 100%;
  max-width: 557px;
  text-align: left;
  margin-bottom: 110px;
}
.header_info input {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.38);
  background: #283036;
  border-radius: 15px;
  border: none;
  outline: none;
  padding: 8px 11px 8px 55px;
  width: 100%;
  max-width: 498px;
  height: 64px;
}
.header_info input::-webkit-input-placeholder {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.38);
}
.header_info input::-moz-placeholder {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.38);
}
.header_info input:-ms-input-placeholder {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.38);
}
.header_info input::-ms-input-placeholder {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.38);
}
.header_info input::placeholder {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.38);
}

.header_info_input {
  position: relative;
}
.header_info_input .buttons {
  position: absolute;
  right: 12%;
  top: 13%;
}

.search {
  position: absolute;
  left: 21px;
  top: 32%;
  z-index: 2;
}

.header_info_title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.9);
}

.header_info_text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
  margin-top: 30px;
  margin-bottom: 60px;
}

.code {
  width: 100%;
  margin-right: -170px;
  max-width: 620px;
}
.code img {
  width: 100%;
}

.main {
  max-width: 1450px;
  margin-top: 104px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(../img/Header/code.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.main .buttons {
  min-width: 130px;
}

.messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.messengers li {
  background: #1e252b;
  -webkit-transition: 0.65s;
  transition: 0.65s;
  cursor: pointer;
  padding: 17px 16px 8px;
  border-radius: 50%;
}
.messengers li * {
  cursor: pointer;
}
.messengers li:hover {
  background: #b7babc;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.facebook:hover path {
  fill: #395694;
}

.instagram {
  padding: 11px 11px 3px !important;
}
.instagram:hover path {
  fill: url(#MyGradient);
}

.twitter:hover path {
  fill: #40abe2;
}

.heart_svg,
.star_svg {
  height: 41px !important;
}

.element-animation {
  opacity: 0.15;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.element-show {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-height: 699.98px) {
  .menu_wrapper {
    margin-top: 10px !important;
  }
}
.tools {
  font-family: "Poppins";
  font-style: normal;
  margin-top: 170px;
}
.tools .buttons {
  min-width: 106px;
}
.tools .buttons button {
  width: 100%;
}

.title {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.subtitle {
  width: 100%;
  max-width: 427px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin: 25px auto 90px;
  color: rgba(255, 255, 255, 0.55);
}

.tools_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tools_item {
  text-align: left;
  max-width: 360px;
  padding: 33px;
  background: #1e252b;
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.tools_item * {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.tools_item .sign_in {
  background: transparent;
  color: rgba(255, 255, 255, 0.55);
}
.tools_item:hover {
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
.tools_item:hover .blur_circle {
  opacity: 1;
}
.tools_item:hover .sign_in {
  background: #ff6e30;
  color: #fdf5ff;
}
.tools_item:hover .sign_in:hover {
  background: #b04314;
}
.tools_item:hover .tools_item_icon {
  opacity: 1;
}

.blur_circle {
  position: absolute;
  opacity: 0;
  top: -3%;
  right: 15px;
  background: rgba(255, 110, 48, 0.6);
  -webkit-filter: blur(25px);
          filter: blur(25px);
  width: 70px;
  height: 70px;
}

.tools_item_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.tools_item_icon {
  width: 100%;
  max-width: 64px;
  opacity: 0.65;
}

.tools_item_title h5 {
  font-weight: 500;
  font-size: 21px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.78);
}
.tools_item_title p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 165, 55, 0.55);
}

.tools_item_text {
  margin: 30px auto 30px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
  max-width: 326px;
}

.tools_item_buttons {
  width: 100%;
  max-width: 326px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.click_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.click_btns * {
  cursor: pointer;
}
.click_btns .heart {
  height: 42px;
}
.click_btns .heart_svg {
  width: 42px;
}
.click_btns .heart_svg .heart {
  -webkit-box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
          box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
  border-radius: 8px;
  min-width: 28px;
  padding: 7px;
  width: 100%;
  height: 100%;
}
.click_btns .heart_svg .heart:hover {
  background: #283036;
}
.click_btns .heart_svg .heart:hover path {
  fill: #fd3b41;
}
.click_btns .star_svg {
  width: 42px;
}
.click_btns .star_svg .star {
  -webkit-box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
          box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
  border-radius: 8px;
  min-width: 28px;
  padding: 7px;
  width: 100%;
  height: 100%;
}
.click_btns .star_svg .star:hover {
  background: #283036;
}
.click_btns .star_svg .star:hover path {
  fill: #fdad00;
}

.red_heart {
  height: 100%;
}
.red_heart .heart {
  -webkit-box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
          box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
  border-radius: 8px;
  min-width: 28px;
  padding: 7px;
  width: 100%;
  height: 100%;
  background: #283036;
}
.red_heart .heart path {
  fill: #fd3b41 !important;
  fill-opacity: 1 !important;
}

.gold_star {
  height: 100%;
}
.gold_star .star {
  -webkit-box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
          box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
  border-radius: 8px;
  min-width: 28px;
  padding: 7px;
  width: 100%;
  height: 100%;
  background: #283036;
}
.gold_star .star path {
  fill: #fdad00 !important;
  fill-opacity: 1 !important;
}

.load_more {
  background: #1e252b;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ff6e30;
  padding: 17px 0;
  width: 184px;
  text-align: center;
  margin: 100px auto 0;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.load_more:hover {
  background: #34404b;
  border: 1px solid rgba(255, 255, 255, 0.8);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.tools_wrapper2 {
  margin-top: 25px;
  display: none;
}

.visibleList {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.buttonVisible #button2 {
  display: block !important;
}
.buttonVisible #button {
  display: none;
}

#button2 {
  display: none;
}

.partners {
  margin-top: 200px;
  margin-bottom: 200px;
  padding: 55px 82px;
  background: rgba(44, 53, 61, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}
.partners .blur_circle {
  position: absolute;
  opacity: 1;
  top: -15%;
  left: -30px;
  background: rgba(255, 110, 48, 0.6);
  -webkit-filter: blur(25px);
  filter: blur(44px);
  width: 106px;
  height: 105px;
}
.partners h6 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.partners ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 107px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.partners ul * {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.partners ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.partners ul li:hover path {
  fill-opacity: 1;
}

.programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.programs main {
  width: 100%;
  max-width: 401px;
  display: inline-block;
}
.programs main h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.9);
}
.programs main p {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
  margin-top: 30px;
  margin-bottom: 60px;
}
.programs main .buttons {
  max-width: 198px;
}
.programs .tools_wrapper {
  width: 100%;
  max-width: 600px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.programs .tools_wrapper .tools_item {
  width: 47%;
}
.programs .tools_wrapper .tools_item .buttons {
  min-width: 106px;
}

.slider {
  margin-top: 200px;
}

.slider_item {
  margin: auto;
  margin-left: 140px;
  max-width: 850px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider_item img {
  max-height: 492px;
}
.slider_item p {
  position: absolute;
  right: -70px;
  top: 130px;
  width: 100%;
  max-width: 445px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.015em;
  color: rgba(255, 255, 255, 0.78);
}

.a_container {
  position: absolute;
  bottom: 30px;
  left: 153px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  background: rgba(40, 48, 54, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 8px;
  padding: 10px 22px 16px 23px;
  text-align: left;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.a_container:hover {
  background: rgb(40, 48, 54);
}
.a_container a:nth-child(1) {
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.015em;
  color: rgba(255, 253, 253, 0.78);
  text-decoration: none;
}
.a_container a:nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 253, 253, 0.55);
  text-decoration: none;
}

.slick-prev:before,
.slick-next:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "slick";
  font-size: 34px;
  line-height: 1;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  z-index: 999;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slick-prev::before {
  content: url("../img/Slider/gray_left.png");
}
.slick-prev:hover::before {
  content: url("../img/Slider/left.png") !important;
}

.slick-next {
  z-index: 999;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slick-next::before {
  content: url("../img/Slider/right_gray.png");
}
.slick-next:hover::before {
  content: url("../img/Slider/right.png") !important;
}

.slick-dots {
  bottom: -100px;
}

.slick-dots li {
  height: 8px;
  width: 44px;
  border-radius: 4px;
  margin: 0 9px;
}

.slick-active button {
  background: #ff6e30 !important;
  height: 8px;
  width: 44px;
  color: white;
  border-radius: 4px;
}

.slick-dots li button {
  background: #283036;
  height: 8px;
  width: 44px;
  color: white;
  border-radius: 4px;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 44px;
  height: 8px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mobile_visible {
  display: none;
}

.subscribe {
  margin-top: 320px;
  margin-bottom: 240px;
}
.subscribe .buttons {
  right: 12px;
  min-width: 130px;
}
.subscribe .header_info_input {
  max-width: 549px;
  margin: 100px auto 0;
}
.subscribe .header_info_input input {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.38);
  background: #283036;
  border-radius: 15px;
  border: none;
  outline: none;
  padding: 8px 11px 8px 24px;
  width: 100%;
  height: 64px;
}
.subscribe .header_info_input input::-webkit-input-placeholder {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.38);
}
.subscribe .header_info_input input::-moz-placeholder {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.38);
}
.subscribe .header_info_input input:-ms-input-placeholder {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.38);
}
.subscribe .header_info_input input::-ms-input-placeholder {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.38);
}
.subscribe .header_info_input input::placeholder {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.38);
}

.first_col {
  max-width: 240px;
  text-align: left;
  margin-right: 35px;
}

.first_col_subtitle {
  margin: 25px auto 21px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.9);
}

.footer_container {
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 115px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer {
  border-top: 0.5px solid rgba(255, 255, 255, 0.08);
  padding-top: 70px;
}
footer * {
  cursor: pointer;
}
footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.55);
}
footer ul {
  max-width: 197px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
footer ul h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
}
footer ul li {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
footer ul li:hover {
  color: rgba(255, 255, 255, 0.25);
}
footer ul li:nth-child(3) {
  margin: 10px auto;
}